#app {
	font-family: 'Open Sans', sans-serif;
}

/* navbar */
.navbar-item.has-dropdown {
	padding: 0.5rem 1rem !important;
}

.navbar-dropdown.sub-dropdown {
	/* force dropdown to appear to the right */
	position: fixed;
	left: 100%;
	top: 30% !important;
}

#sub-dropdown .navbar-link::after {
	/* force arrow to point right for subdropdown menu */
	margin-top: -0.3em;
	transform: rotate(-135deg);
}

.navbar-burger.button, .navbar-burger.button:focus, .navbar-burger.button.is-focused {
	/* force outline on hamburger menu to disappear
	can cause accessibility issues */
	box-shadow: none;
	border-color: transparent;
}

#brand-logo {
	padding-right: 0.5em;
}

/* banner */
#banner {
	/* https://stackoverflow.com/a/35369698 */
	background-image: url("../../assets/images/banner.jpg");
	background-repeat: no-repeat;
	background-position-x: center;
	height: 200px;
}

#banner h1 {
	/* align text to background */
	font-size: 3em;
	text-align: center;
	color: white;
	padding-top: 1.45em;
}

/* transitions */
.fade-enter-active, .fade-leave-active {
  transition: opacity .25s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}