<template>
  <div id='knights'>
    <div v-if='toggleMode === "icon"'>

    </div>
    <div v-else-if='toggleMode === "table"'>
      <knights-table></knights-table>
    </div>
    <h4>Credits to Waylin from Fortiori for creating this!</h4>
    <p>Contact <a href='mailto:lohguide@gmail.com'>me</a> if you find any errors!</p>
    <p>Updated: v1.9.12</p>
  </div>
</template>

<script>
import KnightsTable from '@/components/KnightsTable' // @ = webpack aliasing

export default {
  name: 'knights',
  components: {
    KnightsTable
  },
  data() {
    return {
      toggleMode: 'table'
    }
  }
}
</script>

<style>
</style>