<template>
  <div>
    <input v-model='knightSearch' type='text' placeholder='Type to start searching...' autofocus>
    <div id='knights-table'>
      <table class='table is-bordered is-striped'>
        <thead>
        <tr>
          <th v-for='(column, index) in tableColumns' v-bind:class='{ sortableHeader: index == 0 }' v-bind:key='index' v-on:click='sort(index)'>
          {{ column }}
            <span v-show='index == 0' class="icon is-small">
            <i v-if='sortAsc' class="fa fa-sort-asc" aria-hidden="true"></i>
            <i v-if='!sortAsc' class="fa fa-sort-desc" aria-hidden="true"></i>
            </span>
          </th>
        </tr>
        </thead>

        <tbody>
          <tr v-for='column in knights'>
            <td>{{ column.name }}</td><td v-for='knight in column.chiefKnights'>{{ knight }}</td><td v-for='index in tableColumns.length-1-column.chiefKnights.length'></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id='knights-table-pagination' class='columns is-mobile is-centered'>
      <button class='button is-small' v-bind:class='{ invisible: displayPage == 1}' v-on:click='prevPage'><</button>
      <p>{{ displayPage }}</p>
      <button class='button is-small' v-bind:class='{ invisible: displayPage == maxPages}' v-on:click='nextPage'>></button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'knights-table',
  props: ['search'],
  data() {
    return {
      tableColumns: ['Knight'],
      knights: null,
      // pagination
      itemsPerPage: 25, // TODO: non-hardcoded
      maxPages: 1,
      currPage: 1,
      end: false,
      // knight search
      knightSearch: '',
      // table sort
      sortAsc: true
    }
  },
  computed: {
    // computes the page # indicator
    displayPage() {
      if (this.sortAsc) { // if sort by asc, the api call page is the first page
        return this.currPage
      } else { // if sort by desc, the last page is "technically" the first page
        return this.maxPages - this.currPage + 1
      }
    }
  },
  created() {
    for (var i = 1; i < 15; i++) { // initialize table columns
      this.tableColumns.push('Chief Knight ' + i)
    }

    this.calculateMaxPages() // determine the max number of pages that can be viewed
    this.getKnights() // fetch page 1 table data from api
  },
  watch: {
    // async update the table
    knightSearch: function(enteredName) {
      console.log(this.knightSearch)
      this.currPage = 1
      this.calculateMaxPages() // when input is detected, determine the max number of pages for that search and set it as the max so that nextPage and prevPage buttons are disabled correctly
      this.searchTable() // update the table rows
    }
  },
  methods: {
    getKnights() {
      const request = new Request('/api/knights?page=' + this.currPage)

      fetch(request)
      .then((response) => response.json()) // body.json returns promise that is accessed via data
      .then(data => {
        if (this.sortAsc) {
          this.knights = data
        } else { // reverse the json output if sort desc
          this.knights = data.reverse()
        }
      })
      .catch((error) => {
        console.log(error)
      })
    },

    /**
     * @description Enables next page data retrieval when searching a knight or scrolling through the table
     */
    nextPage() {
      if (this.sortAsc) { // if sort mode is asc, next page increments
        if (!this.end && this.currPage < this.maxPages) {
          this.currPage++
          if (this.knightSearch !== '') {
            this.searchTable()
          } else {
            this.getKnights()
          }
        }
      } else { // if sort mode is desc, next page decrements
        if (!this.end && this.currPage > 1) {
          this.currPage--
          if (this.knightSearch !== '') {
            this.searchTable()
          } else {
            this.getKnights()
          }
        }
      }
    },

    prevPage() {
      if (this.sortAsc) { // if sort mode is asc, prev page decrements
        if (this.currPage > 1) {
          this.currPage--
          if (this.knightSearch !== '') {
            this.searchTable()
          } else {
            this.getKnights()
          }
        }
      } else { // if sort mode is desc, prev page increments
        if (this.currPage < this.maxPages) { // don't exceed max pages
          this.currPage++
          if (this.knightSearch !== '') {
            this.searchTable()
          } else {
            this.getKnights()
          }
        }
      }
    },

    searchTable() {
      const request = new Request('/api/knights/names?match=' + this.knightSearch + '&page=' + this.currPage)
      fetch(request)
      .then((response) => response.json()) // body.json returns promise that is accessed via data
      .then(data => {
        if (this.sortAsc) {
          this.knights = data
        } else { // reverse the json output if sort desc
          this.knights = data.reverse()
        }
      })
      .catch((error) => {
        console.log(error)
      })
    },

    // TODO: refactor/find a better way to do this (currently places an onclick listener for each column)
    sort(index) {
      if (index === 0) { // if knight column is clicked
        this.sortAsc = !this.sortAsc
        if (this.sortAsc) { // if sort asc, start at page 0
          this.currPage = 1
          if (this.knightSearch !== '') {
            this.searchTable()
          } else {
            this.getKnights()
          }
        } else { // if sort desc, start at last page
          this.currPage = this.maxPages
          if (this.knightSearch !== '') {
            this.searchTable()
          } else {
            this.getKnights()
          }
        }
      }
    },

    calculateMaxPages() {
      if (this.knightSearch === '') { // if displaying all knights, get the count
        const lookahead = new Request('/api/knights')
        fetch(lookahead)
        .then((response) => response.json())
        .then(data => {
          this.maxPages = Math.ceil(data.length/this.itemsPerPage)
        })
        .catch((error) => {
          console.log(error)
        })
      } else { // if searching a knight, get the count of all matched knights
        const lookahead = new Request('/api/knights/names?match=' + this.knightSearch)
        fetch(lookahead)
        .then((response) => response.json())
        .then(data => {
          this.maxPages = Math.ceil(data.length/this.itemsPerPage)
        })
        .catch((error) => {
          console.log(error)
        })
      }
    }
  }
}
</script>

<style>
#knights-table {
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 1em;
  padding: auto;
}

#knights-table.th {
  min-width: 9em;
}

th.sortableHeader {
  /* allows the sorting column to appear as a clickable element */
  cursor: pointer;
}

.arrow {
  /* styles table navigation */
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

#knights-table td {
  height: 6em;
}

#knights-table-pagination p {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
}

button.invisible {
  /* pagination buttons */
  visibility: hidden;
}
</style>

