<template>
    <nav class='navbar is-transparent' role='navigation' aria-label='main navigation'>
        <div class='navbar-brand'>
            <router-link to='/' class='navbar-item nav-item nav-link' active-class="active" exact>
                <img id='brand-logo' src='https://scontent.fybz1-1.fna.fbcdn.net/v/t1.0-1/p480x480/23517556_1015779901895048_6553764307633714027_n.jpg?oh=764f67b0b5526cad0921f36275db90ad&oe=5A9CFBE1'>
                <slot name='page-title'>

                </slot>
            </router-link>
            <a class='navbar-item is-hidden-desktop' v-bind:href='this.facebook' target='_blank'>
                <span class='icon' style='color: #333;'>
                    <i class='fa fa-lg fa-facebook'></i>
                </span>
            </a>
            <button class='navbar-burger button' v-on:click='mobileActive = !mobileActive'
            v-bind:class="[{'is-active': mobileActive}]" data-target='navbar-menu-items'>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class='navbar-menu' v-bind:class="[{'is-active': mobileActive}]">
            <div class='navbar-start'>
                <div class='navbar-item'>
                    <router-link to='knights' class='navbar-item nav-item nav-link' active-class="active" exact>
                        Knight System Table
                    </router-link>
                </div>
                <div class='navbar-item has-dropdown is-hoverable'>
                    <a class='navbar-link'>
                        Items
                    </a>
                    <div class='navbar-dropdown is-boxed'>
                        <a class='navbar-item' href='consumables.php'>
                            Consumables
                        </a>
                        <div ref='navbar-subdropdown' id='sub-dropdown' class='navbar-item has-dropdown'
                        v-on:mouseover='subDropdownActive = true' v-on:mouseout='subDropdownActive = false'>
                            <a class='navbar-item'>
                                Equipment
                            </a>
                            <!-- bind subdropdown class when on desktop site to force dropdown menu to
                            appear to the right -->
                            <div class='navbar-dropdown is-boxed' v-bind:class="[{'sub-dropdown': !mobileActive}]"
                            v-show='subDropdownActive'>
                                <a class='navbar-item' href='jewels.php'>
                                    Jewels
                                </a>
                                <a class='navbar-item'>
                                    Weapons
                                </a>
                                <a class='navbar-item' href='rings.php'>
                                    Rings
                                </a>
                            </div>
                        </div>
                        <a class='navbar-item' href='eventitems.php'>
                            Event
                        </a>
                        <a class='navbar-item' href='tickets.php'>
                            Tickets
                        </a>
                    </div>
                </div>
                <div class='navbar-item'>
                    <a class='navbar-item' href='exp.php'>
                        EXP Table
                    </a>
                </div>
            </div>
            <div class='navbar-end'>
                <a class='navbar-item is-hidden-mobile is-hidden-tablet-only' v-bind:href='this.facebook'
                target='_blank'>
                    <span class='icon' style='color: #333;'>
                        <i class='fa fa-lg fa-facebook'></i>
                    </span>
                </a>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
  name: 'navbar',
  props: ['facebook'],
  data() {
    return {
      subDropdownActive: false,
      mobileActive: false
    };
  }
};
</script>

<style>

</style>
