<template>
  <div id='app'>
    <div class='container is-fluid'>
      <v-navbar facebook='https://www.facebook.com/playlegionofheroes/'>
        <p slot='page-title'>
          Legion of Heroes Guide
        </p>
      </v-navbar>
    </div>
    <v-banner></v-banner>
    <div class='container is-fluid'>
      <router-view></router-view>
    </div>
    <!-- <main>
      <img src="./assets/logo.png" alt="Vue.js PWA">
      <router-view></router-view>
    </main> -->
  </div>
</template>

<script>
// import components
import NavBar from '@/components/NavBar';
import Banner from '@/components/Banner';

export default {
  name: 'app',
  components: {
    // rename components to follow Vue guidelines
    'v-navbar': NavBar,
    'v-banner': Banner
  }
};
</script>

<style>
@import 'assets/css/bulma.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  margin: 0;
}

/* #app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
} */

main {
  text-align: center;
  margin-top: 40px;
}

header {
  margin: 0;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #35495e;
  color: #ffffff;
}

header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}
</style>
